body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: 'Roboto', sans-serif;
} 

#logo {
    font-weight: 1000;
}

p , b , span , option {
    font-family: 'Quicksand', sans-serif;
}


#selecciona-usuario {
    border-radius: 15px;
}