body {
    padding-top: 5rem;
    font-family: 'Quicksand', sans-serif;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

h1 , h2 {
    font-family: 'Roboto', sans-serif;
} 

#logo {
    font-weight: bolder;
}


#selecciona-usuario {
    border-radius: 15px;
    color: #563D7C;
    font-size: 18px;
    font-weight: 600;
}
.btn-secondary {
    color: #fff;
    background-color: rgb(73, 53, 102);
    border-color: rgb(73, 53, 102);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.btn-secondary:hover {
    color: #fff;
    background-color: rgb(73, 53, 102);
    border: solid 1px #fff !important;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: rgb(73, 53, 102);
    border: solid 1px #fff !important;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

#texto-hola {
    color: #563D7C;
}

#texto-pregunta {
    color: #563D7C;
    font-weight: 600;
    font-size: 25px;
}


#card-item {
    border-radius: 15px;
}

#seccion-icono {
    border: solid 1px #563D7C;
    background-color: white;
}

#card-item:hover {
    background: #FFCC00 !important;
    cursor: pointer;
}